.btn {
	display: inline-block;
	text-transform: uppercase;
	padding: 18px 50px;
	margin-bottom: 100px;
	font-family: Raleway;
	font-size: 13px;
	font-weight: 700;
	line-height: 21px;
	color: white;
	border-radius: 2px;
	background-color: $main-color;
	border: none;
}