/*********************************************\
		COLORS
\*********************************************/
$main-color: #e84545;
$text-color: #6c7279;
$title-color: #2d3033;
/*********************************************\
		FONTS
\*********************************************/