/*********************************************\
		@IMPORT BOURBON
\*********************************************/
@import "bourbon";

/*********************************************\
		@IMPORT VARIABLES
\*********************************************/
@import "_variables.scss";

/*********************************************\
		@IMPORT BUTTONS
\*********************************************/
@import "_buttons.scss";

/*********************************************\
		MAIN STYLE
\*********************************************/
body {
	font-family: Raleway, sans-serif;
	font-size: em(14);
	min-width: 320px;
	position: relative;
	font-weight: 400;
	color: $text-color;
	background-color: white;
}

.hidden {
	display: none;
}

.carousel img {
	width: 100%;
	height: auto;
}

/*********************************************\
		@IMPORT HEADER
\*********************************************/
@import "_header.scss";

/*********************************************\
		TYPOGRAPHY
\*********************************************/
h1 {
	font: bold 65px/71px 'Open Sans';
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 35px;
}

h3 {
	font: normal 22px Raleway;
	color: $title-color;
}
/*********************************************\
		SECTIONS
\*********************************************/

/*********************************************\
		@IMPORT FOOTER
\*********************************************/
@import "_footer.scss";

/*********************************************\
		@IMPORT MEDIA
\*********************************************/
@import "_media.scss";