/*********************************************\
		@IMPORT BOURBON
\*********************************************/
@import "bourbon";

/*********************************************\
		@IMPORT VARIABLES
\*********************************************/
@import "_variables.scss";

/*********************************************\
		@IMPORT BUTTONS
\*********************************************/
@import "_buttons.scss";

/*********************************************\
		MAIN STYLE
\*********************************************/
body {
	font-family: Raleway, sans-serif;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	font-weight: 400;
	color: $text-color;
	background-color: white;
}

.hidden {
	display: none;
}

.carousel img {
	width: 100%;
	height: auto;
}

/*********************************************\
		@IMPORT HEADER
\*********************************************/
@import "_header.scss";

/*********************************************\
		TYPOGRAPHY
\*********************************************/
h1 {
	font: bold 65px/71px 'Open Sans';
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 35px;
}
h2 {
	margin: 0;
	padding: 0;
	text-transform: none;
	color: #2d3033;
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 15px;
}

h3 {
	font: normal 22px Raleway;
	color: $title-color;
}

h5 {
	color: $title-color;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}
/*********************************************\
		SECTIONS
\*********************************************/
#features {
	width: 100%;
	min-height: 700px;
	padding: 120px 0;
}
.features-item {
	margin-bottom: 70px;
	text-align: center;
	img { margin-bottom: 10px;}
	p {
		margin: 0;
		padding: 0 20px;
	}
}
// works
#works {
	width: 100%;
	height: 100%;
}

#owl-1 .item,
#owl-2 .item {
  margin: 1px;
  position: relative;
}
#owl-1 .item img,
#owl-2 .item img {
display: block;
width: 100%;
height: auto;
}
.work-info {
	position: absolute;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(232, 69, 69, 0.9);
	text-align: center;
	vertical-align: middle;
	color: #fff;
	transition: all 0.3s linear;
	.work-name {
		display: block;
		margin-top: 30%;
		font-weight: 700;
	}
}

#team {
	width: 100%;
	padding: 100px 0 80px 0; 
	.team-item {
		margin-bottom: 20px;
	}
	h3 {
		margin: 30px 0 10px 0;
	}
	.social-icon {
		display: inline-block;
		width: 40px;
		height: 40px;
		border: 1px solid #e8ecee;
		margin-right: 4px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		transition: all 0.3s linear;
		&:hover {
			background-color: $main-color;
		}
	}
	.fb {background-image: url(../img/fb.png);}
	.tw {background-image: url(../img/tw.png);}
	.in {background-image: url(../img/in.png);}
}

.team-item__desc {
	display: block;
	font-size: 13px;
	text-transform: uppercase;
	color: $main-color;
	margin-bottom: 25px;
}

#clients {
	width: 100%;
	height: 100%;
	.item img {
		display: inline-block;
		float: left;
		width: 50%;
		height: auto;
	}
	.item {overflow: hidden;}
	.slide-info {
		position: absolute;
		display: inline-block;
		padding: 5%;
		width: 50%;
		height: 100%;
		background-color: #53354a;
		overflow: hidden;
		p {
			display: block;
			max-width: 500px;
			margin-top: 0;
			color: #fff;
			font-family: 'Cardo';
			font-style: italic;
			font-size: 2em;
			margin-bottom: 20px;
		}
		span {
			color: white;
			text-transform: uppercase;
			font-family: Raleway;
			font-weight: 700;
			font-size: 13px;
		}
		.slide-nav {
			text-align: center;
			margin-top: 60px;
		}
		.slide-nav span {
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #fff;
			opacity: 0.2;
			&.active {
				opacity: 1;
			}
		}
	}
}

#download {
	width: 100%;
	padding: 100px 0;
	text-align: center;
	h5 {
		margin-top: 0;
		margin-bottom: 40px;
	}
	.btn {
		padding-left: 80px;
		padding-right: 80px;
		margin-bottom: 0;
	}
}

/*********************************************\
		@IMPORT FOOTER
\*********************************************/
@import "_footer.scss";

/*********************************************\
		@IMPORT MEDIA
\*********************************************/
@import "_media.scss";